<div class="relative grid grid-cols-4 gap-1 m-3 p-0">
  <div
    class="relative bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="relative m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <div class="flex items-center justify-center">
        <img class="w-8" src="../../../assets/sensor.png" alt="sensor png" />
      </div>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <h2 class="">Strunde Sensor</h2>
      <br />
      <h1 class="text-bold">6 Meter</h1>
    </div>
  </div>
</div>
