<div class="relative h-96 border-solid border-2 border-emerald-500 m-3" >
<iframe [src]="urlSafe1" height=100% width=100%></iframe>
</div>
<div class="relative grid grid-cols-4 gap-1 m-3 p-0">
  <div
    class="relative bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="relative m-3">
      <iframe [src]="urlSafe2" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeAirTemp" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeAirHumidity" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeAirPressure" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeLightIntensity" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeRainGague" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeUvIndex" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeWindDirection" height=100% width=100%></iframe>
    </div>
  </div>
  <div
    class="bg-gray-100 border-solid border-2 border-emerald-500 h-44 text-xl text-center"
  >
    <div class="m-3">
      <iframe [src]="urlSafeWindSpeed" height=100% width=100%></iframe>
    </div>
  </div>
</div>
